body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 2;
  color: #bd93f9;
  background: #282a36;
}

h1 {
  color: #ff79c6;
}

h2 {
  color: #ff5555;
}

strong {
  color: #50fa7b;
}

a {
  color: #8be9fd;
}

pre {
  font-size: 12px;
  color: #6272a4;
}

main,
footer {
  max-width: 960px;
  margin: 0 auto;
}
